*{

}

.body__index{
    font-family: -apple-system, system-ui, 'Segoe UI';
    width: 460px;
    height: 100vh;
    background-color: yellow;
}

.body__friends{
    font-family: -apple-system, system-ui, 'Segoe UI';
    width: 460px;
    height: 100vh;
    /* background-color: yellow; */
}

.body__chats{
    font-family: -apple-system, system-ui, 'Segoe UI';
    width: 460px;
    height: 100vh;
    /* background-color: yellow; */
}

.body__find{
    font-family: -apple-system, system-ui, 'Segoe UI';
    width: 460px;
    height: 100vh;
    /* background-color: yellow; */
}

.body__more{
    font-family: -apple-system, system-ui, 'Segoe UI';
    width: 460px;
    height: 100vh;
    /* background-color: yellow; */
}

.body__setting{
    font-family: -apple-system, system-ui, 'Segoe UI';
    width: 460px;
    height: 100vh;
    /* background-color: yellow; */
}

.body__chat{
    font-family: -apple-system, system-ui, 'Segoe UI';
    width: 460px;
    height: 100vh;
    background-color:#abc1d1;
    /* background-color: yellow; */
}