.status-bar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    width:inherit;
    top:5px;
    /* padding:10x; */
    /* box-sizing: border-box; */
}

.status-bar__column:first-child span{
    margin-right: 5px;
}